{% extends 'data_storage/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h1>{{ title }}</h1>

    <div id="container" style="width: 75%;">
        <canvas id="pie-chart"></canvas>
    </div>

{% endblock content %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js">
    </script>
    <script>
        var config = {
            type: 'bar',
            data: {
                datasets: [{
                    data: {{ data|safe }},
                    label: "{{ label }}",
                    backgroundColor: "rgba(79, 231, 188, 1)",
                }],
                labels: {{ labels|safe }},
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById('pie-chart').getContext('2d');
            window.myPie = new Chart(ctx, config);
        };

    </script>
{% endblock %}